.container2 {
    width: 850px;
    height: 600px;
    background-color: #FFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;    
    position: relative;
    left: 0;
}


.info_pesquisa {
    height: 30px;
    margin: 0 30px 0 30px;
    position: relative;
}

.titulo_h2_sub_pag {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    color: #8b8b8b;
}
.busca_area {
    width: 225px;
    position: absolute;
    top: 6px;
    right: 0;
}

.form_text_seach input{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    margin-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    border-top: none;
    border-right: none;
    border-bottom: 1.5px #000 solid;
    border-left: none;
    float: left;
    outline: none;
    background: url(../images/lupa.svg) no-repeat;
}

.form_text_seach input::-webkit-input-placeholder {
    color: #c4c4c4;
}

.plus {
    width: 20px;
    margin-top: 1.5px;
    cursor: pointer;
    float: left;
}

.titulo_id {
    width: 100%;
    height: 50px;
    margin: 65px 30px 0 30px;
    float: left;
}

.titulo_id h3 {
    color: #8b8b8b;
    font-size: 18px;
    font-weight: normal;
    float: left;
    margin-right: 147px;
}
.titulo_id h3:last-child {
    position: absolute;
    right: 30px;
    margin-right: 0;
}

.item_lista_forn {
    width: 850px;
    height: 50px;
    box-sizing: border-box;
    float: left;
}

.item_lista_forn .itens:hover {
    outline: 1px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.icon_acoes {
    height: 50px;
    margin-left: 30px;
    padding-top: 13px;
    float: left;
}

.icon_acoes img:first-child {
    margin-right: 10px;
}

.icon_acoes img {
    cursor: pointer;
}

.nome_forn {
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-left: 70px;
    display: inline-block;
}
.area_forn {
    width: 250px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
    display: inline-block;
}

.data_forn {
    width: 150px;
    height: 50px;
    text-align: right;
    padding-top: 15px;
    margin-left: 30px;
    display: inline-block;
    position: absolute;
    right: 30px;
}